{
    "mailserver":{
        "host":"smtp.domain.com",
        "port":25,
        "user":"user@domain.com",
        "passwd":"smtppassword",
        "sendto":"email@sendto.com"
    },
    "voltthreshold": 0,
    "interfaces": [],
    "devicename": "UM25C",
    "webserver": "http://127.0.0.1:80000"
}